* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 15px;
    height: 100vh;
    perspective: 600px;
}
#page {
    width: 1440px;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page .container {
    width: 60%;
    display: flex;
    transition: .5s ease-in-out;
}
#page .container:hover {
    animation: front 1s ease-in-out;
}
@keyframes front {
    50%{
        transform: translateZ(30px);
    }
}
#page .container > div {
    width: 33%;
    padding: 40px;
}
#page .container > div .icon {
    margin-bottom: 40px;
}
#page .container > div h1 {
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 700;
    font-family: "Big Shoulders Display";
}
#page .container > div p {
    margin-bottom: 80px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca";
}
#page .container > div button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    padding: 10px 23px;
    border-radius: 20px;
    text-transform: capitalize;
    transition: .5s ease-in-out;
    font-family: "Lexend Deca";

}
#page .container > div button:hover {
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
#page .container .sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}
#page .container .sedans button {
    color: hsl(31, 77%, 52%);
}
#page .container .sedans button:hover {
    background-color: hsl(31, 77%, 52%);
}
#page .container .suvs {
    background-color: hsl(184, 100%, 22%);
}
#page .container .suvs button {
    color: hsl(184, 100%, 22%);
}
#page .container .suvs button:hover {
    background-color: hsl(184, 100%, 22%);
}
#page .container .luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}
#page .container .luxury button {
    color: hsl(179, 100%, 13%);
}
#page .container .luxury button:hover {
    background-color: hsl(179, 100%, 13%);
}
/*footer*/
footer {
    margin-bottom: 20px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    transition: .5s ease-in-out;
}
.attribution a:hover {
    text-decoration: underline;
}

/*mobile-view*/
@media screen and (max-width: 375px){
   body {
       min-height: 1400px;
   }
    #page {
        max-width: 375px;
        background-color: white;
        
        display: block;
        
    }
    #page .container {
        display: block;
        width: 100%;
    }
    #page .container > div {
        width: 100%;
        
   
    }
    #page .container .sedans {
        border-radius: initial;
    }
    #page .container .luxury {
        border-radius: initial;
    }
}

